/* Style for the contact form container */
.contact-form {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

/* Style for the contact form title */
.contact-form h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style for form inputs and labels */
.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
}

.contact-form label {
    color: #333;
    font-weight: bold;
}

/* Style for the submit button */
.contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

body {
    min-height: 80vh; /* Set the minimum height of the body to be 100% of the viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}