
.hours-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hours {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6); 
    border-radius: 5px;
    text-align: center;
    font-size: 1.8em;
    color: #333;
    max-width: 80%; 
}
