
.soups-noodles-list {
    font-size: 14px
}

.appetizer-text {
    font-size: 14px;
}

.menu-categories {
    display: flex;
}

.img-fluid {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-fluid:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
