.visionpictures {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    flex-wrap: wrap;
}


.visionpictures img {
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    width: 1920px;
    object-fit: fill;
    border-radius: 5px;
}


.visionpictures img:hover {
    transform: scale(1.05);
}


h1, h2, h3, h4 {
    color: #333;
    font-weight: 700;
    font-size: 2.5rem;
}

.text-center.fs-1.text {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-top: 20px;
    color: #555;
}
